<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>select</title>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<link rel="stylesheet" href="js/element-ui.css">

<script src="js/vue.js"></script>
<script src="js/elementui.js"></script>
<script src="js/vue-resource.js"></script>
<script src="js/jquery-1.9.1.min.js"></script>
<style type="text/css">
*{list-style:none;font-size:14px;font-family:tahoma;}
</style>
</head>
<body>



<div id="app">

  <el-select v-model="value9" filterable clearable remote placeholder="请输入关键词" :remote-method="remoteMethod" class="mq">
    <el-option v-for="item in options4" :key="item.value" :label="item.label" :value="item.value">
    </el-option>
  </el-select>

</div>


<script type="text/javascript">

var Main = {
    data: function() {
      return {
        options4: [],
        value9: [],
        loading: false,
      }
    },
    mounted: function() {
		this.value9 = "1FD69001";
		$(".mq input").attr("readonly","readonly").focus(function() {
			$(".mq input").removeAttr("readonly")
		}).blur(function() {
			$(".mq input").val("readonly")
		})
	
    },
    methods: {
      remoteMethod: function(query) {
		  var that = this;
        if (query !== '') {
          this.loading = true;
          setTimeout(() => {
           Vue.http.get('select.php?query='+query, {emulateJSON: true}).then(function (response) {
			   console.log(response.body.data);
                 that.options4 = response.body.data;

				}, function (response) {
					
				});

          }, 300);
        } else {
          this.options4 = [];
        }
      }
    }
  }
var Ctor = Vue.extend(Main)
new Ctor().$mount('#app')

</script>
</body>
</html>

